<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ConvertWorker</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  <param-name>at.reisisoft.convert.worker.soffice</param-name>
  <param-value>path-to/soffice.exe</param-value>
</context-param>
  <context-param>
  <param-name>at.reisisoft.convert.worker.threads</param-name>
  <param-value>8</param-value>
</context-param>
<context-param>
  <param-name>at.reisisoft.convert.rmi.server</param-name>
  <param-value>localhost</param-value>
</context-param>
  <context-param>
<param-name>at.reisisoft.convert.worker.jdbc.url</param-name>
  <param-value>jdbc:mysql://127.0.0.1:3306/</param-value>
</context-param>
  <context-param>
<param-name>at.reisisoft.convert.worker.jdbc.un</param-name>
  <param-value>root</param-value>
</context-param>
  <context-param>
<param-name>at.reisisoft.convert.worker.jdbc.pw</param-name>
  <param-value></param-value>
</context-param> <context-param>
<param-name>at.reisisoft.convert.worker.officevendor</param-name>
  <param-value>LibreOffice</param-value>
</context-param>
 <context-param>
  <param-name>at.reisisoft.convert.email.from</param-name>
  <param-value>youremail@example.com</param-value>
</context-param>
  <context-param>
  <param-name>at.reisisoft.convert.email.smtp</param-name>
  <param-value>mail.example.com</param-value>
</context-param>
  <context-param>
  <param-name>at.reisisoft.convert.email.pw</param-name>
  <param-value>securePassword</param-value>
</context-param>
  <context-param>
  <param-name>at.reisisoft.convert.email.usessl</param-name>
  <param-value>false</param-value>
</context-param>
</web-app>